### Importaci√≥n de datos

In [22]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

## Ingreso total por cada tienda

En este primer an√°lisis, se calcula el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [20]:
# Almacenamos todas las tiendas en una lista para manejo eficiente
tiendas = [tienda, tienda2, tienda3, tienda4]
nombres = ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"]

# Calculamos ingresos y convertimos a enteros
ingresos = [int(sum(tienda['Precio'])) for tienda in tiendas]

# Unimos nombres con sus valores
resultados = list(zip(nombres, ingresos))

print("Ingresos Totales por Tienda:")
for nombre, total in resultados:
  # Formato sin decimales para agregar decimal eje: total:,.2f}")
    print(f"‚Üí {nombre}: ${total:,}")

# Encontramos la mejor tienda
mejor_tienda = max(resultados, key=lambda x: x[1])
print(f"\nLa tienda con mayor facturaci√≥n es {mejor_tienda[0]} con ${mejor_tienda[1]:,}")

Ingresos Totales por Tienda:
‚Üí Tienda 1: $1,150,880,400
‚Üí Tienda 2: $1,116,343,500
‚Üí Tienda 3: $1,098,019,600
‚Üí Tienda 4: $1,038,375,700

La tienda con mayor facturaci√≥n es Tienda 1 con $1,150,880,400

## A continuacion se solicitaron 3 graficos para cada analisis barra circular y no me acuerdo

# 2. Ventas por categor√≠a

En este analisis se calcula la cantidad de productos vendidos por categor√≠a en cada tienda. Agrupar los datos por categor√≠a y contar el n√∫mero de ventas de cada tipo, mostrando las 3 categor√≠as m√°s populares de cada tienda.
Tambien se indica que tienda es la mas y menos exitosa en ventas.

In [28]:
# Convertir DataFrames a listas de diccionarios
datos_tienda1 = tienda.to_dict('records')
datos_tienda2 = tienda2.to_dict('records')
datos_tienda3 = tienda3.to_dict('records')
datos_tienda4 = tienda4.to_dict('records')

# Lista con todas las tiendas y sus nombres
tiendas = [
    ("Tienda 1", datos_tienda1),
    ("Tienda 2", datos_tienda2),
    ("Tienda 3", datos_tienda3),
    ("Tienda 4", datos_tienda4)
]

# Procesar todas las tiendas
resultados = []
for nombre, datos in tiendas:
    # Diccionario para contar categor√≠as
    categorias = {}

    # Contar ventas por categor√≠a
    for producto in datos:
        categoria = producto['Categor√≠a del Producto']
        if categoria in categorias:
            categorias[categoria] += 1
        else:
            categorias[categoria] = 1

    # Ordenar de mayor a menor
    categorias_ordenadas = sorted(categorias.items(), key=lambda x: x[1], reverse=True)

    resultados.append((nombre, categorias_ordenadas))

# Mostrar resultados
print("üè™ CATEGOR√çAS M√ÅS VENDIDAS POR TIENDA\n")
for nombre, categorias in resultados:
    print(f"‚Üí {nombre}:")
    for i, (categoria, cantidad) in enumerate(categorias[:3], 1):
        print(f"   {i}. {categoria}: {cantidad} ventas")
    print("‚îÄ" * 40)

# Calcular tienda con m√°s ventas totales
total_ventas = []
for nombre, categorias in resultados:
    total = sum(cantidad for _, cantidad in categorias)
    total_ventas.append((nombre, total))

tienda_top = max(total_ventas, key=lambda x: x[1])
print(f"\nüî• LA TIENDA M√ÅS EXITOSA: {tienda_top[0]} con {tienda_top[1]} ventas totales")

tienda_top = min(total_ventas, key=lambda x: x[1])
print(f"\nüî• LA TIENDA MENOS EXITOSA: {tienda_top[0]} con {tienda_top[1]} ventas totales")

üè™ CATEGOR√çAS M√ÅS VENDIDAS POR TIENDA

‚Üí Tienda 1:
   1. Muebles: 465 ventas
   2. Electr√≥nicos: 448 ventas
   3. Juguetes: 324 ventas
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
‚Üí Tienda 2:
   1. Muebles: 442 ventas
   2. Electr√≥nicos: 422 ventas
   3. Juguetes: 313 ventas
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
‚Üí Tienda 3:
   1. Muebles: 499 ventas
   2. Electr√≥nicos: 451 ventas
   3. Juguetes: 315 ventas
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
‚Üí Tienda 4:
   1. Muebles: 480 ventas
   2. Electr√≥nicos: 451 ventas
   3. Juguetes: 338 ventas
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

üî• LA TIENDA M√ÅS EXITOSA: Tienda 1 con 2359 ventas totales

üî• LA TIENDA MENOS EXITOSA: Tienda 4 con 2358 ventas totales

# 3. Calificaci√≥n promedio de la tienda

In [31]:
# Convertir DataFrames a listas de diccionarios
datos_tiendas = [
    ("Tienda 1", tienda.to_dict('records')),
    ("Tienda 2", tienda2.to_dict('records')),
    ("Tienda 3", tienda3.to_dict('records')),
    ("Tienda 4", tienda4.to_dict('records'))
]

# Calcular promedios
resultados = []
for nombre, ventas in datos_tiendas:
    total_calificaciones = 0
    contador = 0

    for producto in ventas:
        try:
            # Sumar calificaciones v√°lidas
            total_calificaciones += float(producto['Calificaci√≥n'])
            contador += 1
        except (KeyError, ValueError):
            continue

    promedio = total_calificaciones / contador if contador > 0 else 0
    resultados.append((nombre, round(promedio, 2)))

# Mostrar resultados
print("‚≠ê CALIFICACIONES PROMEDIO POR TIENDA ‚≠ê\n")
for nombre, promedio in resultados:
    print(f"‚Üí {nombre}: {promedio}/5.0")
    print("‚òÖ" * int(promedio) + "‚òÜ" * (5 - int(promedio)))
    print("‚îÄ" * 40)

# Encontrar la mejor calificada
mejor_tienda = max(resultados, key=lambda x: x[1])
print(f"\nüèÜ MEJOR CALIFICACI√ìN: {mejor_tienda[0]} ({mejor_tienda[1]}/5.0)")

# Encontrar la peor calificada
peor_tienda = min(resultados, key=lambda x: x[1])
print(f"\nüèÜ MENOR CALIFICACI√ìN: {peor_tienda[0]} ({mejor_tienda[1]}/5.0)")

‚≠ê CALIFICACIONES PROMEDIO POR TIENDA ‚≠ê

‚Üí Tienda 1: 3.98/5.0
‚òÖ‚òÖ‚òÖ‚òÜ‚òÜ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
‚Üí Tienda 2: 4.04/5.0
‚òÖ‚òÖ‚òÖ‚òÖ‚òÜ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
‚Üí Tienda 3: 4.05/5.0
‚òÖ‚òÖ‚òÖ‚òÖ‚òÜ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
‚Üí Tienda 4: 4.0/5.0
‚òÖ‚òÖ‚òÖ‚òÖ‚òÜ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

üèÜ MEJOR CALIFICACI√ìN: Tienda 3 (4.05/5.0)

üèÜ MENOR CALIFICACI√ìN: Tienda 1 (4.05/5.0)

# 4. Productos m√°s y menos vendidos

# 5. Env√≠o promedio por tienda